.login-container {
    width: 100%;
    max-width: 400px;
    margin: 160px auto;
    padding: 60px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.login-container:hover {
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.2);
}

.login-title {
    font-size: 30px;
    font-weight: bold;
    color: #253847;
    text-align: center;
    letter-spacing: 1px;
}

.login-form {
    margin-top: 25px;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #D9E1E8;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    background-color: #f7f7f7;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    border-color: #FF6D1F;
    box-shadow: 0 0 5px rgba(255, 109, 31, 0.3);
    outline: none;
    background-color: #ffffff;
}

.terms {
    font-size: 12px;
    color: #555555;
    margin-bottom: 20px;
    text-align: center;
}

.terms a {
    color: #FF6D1F;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.terms a:hover {
    color: #E65817;
}

.login-btn {
    width: 100%;
    padding: 14px;
    background-color: #FF6D1F;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.login-btn:hover {
    background-color: #E65817;
    transform: translateY(-2px);
}

.forgot-password {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.forgot-password a {
    color: #FF6D1F;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.forgot-password a:hover {
    color: #E65817;
}


.register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #FF6D1F;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.register-link a:hover {
    color: #E65817;
}


@media (max-width: 768px) {
    .login-container {
        margin: 100px 20px;
        padding: 40px;
    }

    .login-title {
        font-size: 26px;
    }

    .login-btn {
        font-size: 16px;
    }
}
