.quotation-container {
    width: 100%;
    max-width: 600px;
    margin: 30px auto 50px;
    padding: 1px 40px 40px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.quotation-title {
    font-size: 28px;
    color: #253847;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}

.form-group-quote {
    gap: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}

.form-group-quote label {
    font-weight: bold;
    font-size: 0.95rem;
}


.input-field {
    flex: 1;
    padding: 12px;
    border: 1px solid #D9E1E8;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f7f7f7;
    height: 50px;
    transition: all 0.3s ease-in-out;

}

.input-field:focus {
    border-color: #FF6D1F;
    outline: none;
    background-color: #ffffff;
}

.small-input {
    width: 100px;
    min-height: 15px;
    max-height: 15px;
}


.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #253847;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 8px;
}

.package-info-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}

.package-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.quote-btn {
    width: 100%;
    padding: 14px;
    background-color: #FF6D1F;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.quote-btn:hover {
    background-color: #E65817;
}

.price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

}

.label {
    font-weight: bold;
}

.quote-pkg-info-labels {
    margin: 0;
}

.value {
    margin-left: auto;
}


.quote-result {
    margin-top: 10px;
}

.separator-quote {
    margin-top: 20px;
    width: 100%;
    border-color: #253847;
    border-width: 1px;
}

.input-pair {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.input-pair .quote-pkg-info-labels {
    margin-right: 5px;
    white-space: nowrap;
}


.package-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.small-input {
    width: 100%;
    max-width: 120px;
    min-height: 20px;
    max-height: 20px;
    transition: all 0.3s ease-in-out;

}

.package-info-title {
    text-align: left;
}


.quoteInfoMsg{
    color: rgba(128, 128, 128, 1);
    font-size: 12.5px;
    margin-top: 0px;
}

.separator-msg{
    margin-top: 10px;
    width: 100%;
    border-color: rgba(128, 128, 128, 0.3);
    border-width: 1px;

}